<body class="sb-nav-fixed">
    <app-navbar-admin></app-navbar-admin>
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45" style="margin-top: 25px;">
        <h2>
          Clientes
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="heading_container heading_center psudo_white_primary mb_45"  style="margin-top: 25px;">
          <h5>Add Customer</h5>
          <form action="" method="POST">
              <div class="input-group" style="margin-top: 10px;">
                <input required type="email" class="form-control" id="email" [(ngModel)]='nuevo_cliente.email' name="email" placeholder="Email" style="margin-left: 25px;">
                <input required type="password" class="form-control" id="password" [(ngModel)]='nuevo_cliente.password' name="password" placeholder="Password" style="margin-left: 25px;">
                <input required type="text" class="form-control" id="nombre" [(ngModel)]='nuevo_cliente.name' name="name" placeholder="Name" style="margin-left: 25px;">
                <input required type="text" class="form-control" id="gender" [(ngModel)]='nuevo_cliente.gender' name="gender" placeholder="Gender" style="margin-left: 25px;">
              </div>
              <div class="input-group" style="margin-top: 10px;">
                <input required type="numeric" class="form-control" id="age" [(ngModel)]='nuevo_cliente.age' name="age" placeholder="Age" style="margin-left: 25px;">
                <input required type="numeric" class="form-control" id="phone" [(ngModel)]='nuevo_cliente.phone' name="phone" placeholder="Phone" style="margin-left: 25px;">
                <input required type="text" class="form-control" id="residence" [(ngModel)]='nuevo_cliente.residence' name="residence" placeholder="Residence" style="margin-left: 25px;">
              </div>
              <div id="btns_cliente">
                <button (click)="addCliente()" type="submit" id="btn_add" class="btn btn-success m-4" >
                  <i class="bi bi-plus" > Add customer</i>
                </button>
                <button (click)="updateCliente(nuevo_cliente)" type="submit" id="btn_update" class="btn btn-success m-4" >
                  <i class="bi bi-plus" > Update customer</i>
                </button>
                <button  (click)="actualizaClientes()" type="submit" id="btn_cancel" class="btn btn-danger m-4" >
                  <i class="bi bi-plus" > Cancel</i>
                </button>
              </div>
          </form>
      </div>
  </div>
      <div class="col-md-12">
          <table class="table table-hover" style="margin-top: 25px;">
            <thead>
              <tr style="text-align: center;">
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">Phone</th>
                <th scope="col">Residence</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody style="text-align: center;" *ngFor="let cliente of clientes_disponibles">
              <script>$(".table").DataTable();</script>
            <tr class="table-active" >
              <th scope="row">{{cliente.email}}</th>
              <td>{{cliente.password}}</td>
              <td>{{cliente.name}}</td>
              <td>{{cliente.gender}}</td>
              <td>{{cliente.age}}</td>
              <td>{{cliente.phone}}</td>
              <td>{{cliente.residence}}</td>
                <button class="btn btn-outline-success me-2" (click)="selectCliente(cliente)">
                  <i class="bi-pencil"></i>
                </button>
              <td>
                <button class="btn btn-outline-danger me-2" (click)="deleteCliente(cliente)">
                  <i class="bi-trash-fill"></i>
                </button>
              </td>
            </tr>
          </tbody>
          </table>
        </div>
      </body>