<body class="sb-nav-fixed">
    <app-navbar-admin></app-navbar-admin>

    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45" style="margin-top: 25px;">
        <h2>
          Empleados
        </h2>
      </div>
      <div class="row">
        <div class="heading_container heading_center psudo_white_primary mb_45"  style="margin-top: 25px;">
            <h5>Add Employee</h5>
            <form action="" method="POST">
                <div class="input-group" style="margin-top: 10px;">
                    <input type="text" class="form-control" id="name" [(ngModel)]='nuevo_empleado.name' name="name" placeholder="Name" style="margin-left: 15px;">
                    <input type="text" class="form-control" id="gender" [(ngModel)]='nuevo_empleado.gender' name="gender" placeholder="Gender" style="margin-left: 15px;">
                    <input type="number" class="form-control" id="age" [(ngModel)]='nuevo_empleado.age' name="age" placeholder="Age" style="margin-left: 15px;">
                    <input type="number" class="form-control" id="phone" [(ngModel)]='nuevo_empleado.phone' name="phone" placeholder="Phone" style="margin-left: 15px;">
                    <input type="text" class="form-control" id="residence" [(ngModel)]='nuevo_empleado.residence' name="residence" placeholder="Residence"  style="margin-left: 15px;">
                </div>
                <div class="input-group" style="margin-top: 10px;">
                    <input type="email" class="form-control" id="email" [(ngModel)]='nuevo_empleado.email' name="email" placeholder="Email" style="margin-left: 15px;">
                    <input type="date" class="form-control" id="date of admission" [(ngModel)]='nuevo_empleado.date_of_admission' name="date of admission" placeholder="Date of Admission" style="margin-left: 15px;">
                    <input type="text" class="form-control" id="position" [(ngModel)]='nuevo_empleado.position' name="position" placeholder="Position" style="margin-left: 15px;">
                    <input type="number" class="form-control" id="salary" [(ngModel)]='nuevo_empleado.salary' name="salary" placeholder="Salary" style="margin-left: 15px;">
                </div>
                <div id="btns_empleados">
                  <button (click)="addEmpleado()" type="submit" id="btn_add" class="btn btn-success m-4" >
                    <i class="bi bi-plus" > Add employee</i>
                  </button>
                  <button (click)="updateEmpleado(nuevo_empleado)" type="submit" id="btn_update" class="btn btn-success m-4" >
                    <i class="bi bi-plus" > Update employee</i>
                  </button>
                  <button  (click)="actualizaEmpleados()" type="submit" id="btn_cancel" class="btn btn-danger m-4" >
                    <i class="bi bi-plus" > Cancel</i>
                  </button>
                </div>
                    <!--<a type="submit" href="index.html" routerLink="/add_category" routerLinkActive="active" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/images/add.png" style="border-radius: 30%; margin-top: 10px;" width="30px">
                    </a>-->
            </form>
        </div>
    </div>
    </div>
      <div class="col-md-12" style="margin-top: 40px;">
          <table class="table table-hover">
            <thead>
              <tr style="text-align: center;">
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">Phone</th>
                <th scope="col">Residence</th>
                <th scope="col">Email</th>
                <th scope="col">Date of admission</th>
                <th scope="col">Position</th>
                <th scope="col">Salary</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody style="text-align: center;" *ngFor="let empleado of empleados_disponibles">
              <script>$(".table").DataTable();</script>
            <tr class="table-active" >
              <th scope="row">{{empleado.id_empleado}}</th>
              <td>{{empleado.name}}</td>
              <td>{{empleado.gender}}</td>
              <td>{{empleado.age}}</td>
              <td>{{empleado.phone}}</td>
              <td>{{empleado.residence}}</td>
              <td>{{empleado.email}}</td>
              <td>{{empleado.date_of_admission}}</td>
              <td>{{empleado.position}}</td>
              <td>${{empleado.salary}}</td>
              <td>
                  <button class="btn btn-outline-success me-2" (click)="selectEmpleado(empleado)">
                      <i class="bi-pencil"></i>
                </button>
              </td>
              <td>
                  <button class="btn btn-outline-danger me-2" (click)="deleteEmpleado(empleado)">
                      <i class="bi-trash-fill"></i>
                    </button>
              </td>
            </tr>
          </tbody>
          </table>
        </div>
      </body>
