<body class="sb-nav-fixed">
    <app-navbar-admin></app-navbar-admin>

    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45" style="margin-top: 25px;">
        <h2>
          Categorias
        </h2>
      </div>
    </div>

    <div class="row">
        <div class="heading_container heading_center psudo_white_primary mb_45"  style="margin-top: 25px;">
            <h5>Add Category</h5>
            <form action="" method="POST">
                <div class="input-group" style="margin-top: 10px;">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                    <input type="text" class="form-control" id="description" name="description" placeholder="Description"  style="margin-left: 25px;">
                    <input type="text" class="form-control" id="image" name="image" placeholder="Image"   style="margin-left: 25px;">
                </div>
                    <a type="submit" href="index.html" routerLink="/add_category" routerLinkActive="active" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/images/add.png" style="border-radius: 30%; margin-top: 10px;" width="30px">
                    </a>
            </form>
        </div>
    </div>
    
    <section class="food_section layout_padding-bottom" id="section_food" style="margin-top: 60px;">
        <div class="container">
            <div class="filters-content">
                <div class="row grid">
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                    <div>
                        <div class="img-box">
                        <img src="assets/images/vegetables.png" alt="">
                        </div>
                        <div class="detail-box">
                        <h5>
                            Vegetables
                        </h5>
                        <p>
                            En esta categoria se encuentran todos los productos que se consideran vegetales...!
                        </p>
                        <div>
                            <a href="index.html" routerLink="/update_category" routerLinkActive="active" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="assets/images/edit2.png" style="border-radius: 28%; margin-left: 10%;" width="28px">
                              </a>
                              <a href="index.html" routerLink="/delete_category" routerLinkActive="active" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="assets/images/delete.png" style="border-radius: 28%; margin-left: 60%;" width="28px">
                              </a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
</body>