<app-navbar [isLogged]="isLogged"></app-navbar>
<section class="food_section layout_padding-bottom" id="section_food">
    <div class="heading_container heading_center" style="margin-top: 80px;">
        <h2>
          Su Carrito tiene...
        </h2>
      </div>
    <div class="container" style="margin-top: 50px;">
      <div  class="row">
        <div *ngFor="let producto of carrito.productos | slice:0:8;" class="col-md-4">
          <div class="box">
            <div>
              <div class="img-box">
                <img src={{producto.imagen}} alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {{producto.nombre}}
                </h5>
                <p>
                  {{producto.descripcion}}
                </p>
                <div class="options">
                  <h6>
                    ${{producto.costo}}
                  </h6>
                  <button class="btn btn-outline-danger me-2" (click)="deleteProducto(producto)">
                    <i class="bi-trash-fill"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </section>
 <div class="container" style="margin-left: 80%; margin-top: -50px; width: 90px; height: 30px;">
  <!--<div class="input-group" style="margin-top: 10px;">
    <input type="number" min="0" class="form-control" id="sale-price" [(ngModel)]='nuevo_producto.costo' name="sale-price" placeholder="Sale-Price" style="margin-left: 15px;">
    <select id="categoria"  class="form form-select" (change)="selectCategoria($event)">
        <option value="null">-</option>
        <option *ngFor="let categoria of categorias" value={{categoria.id_categoria}} >({{categoria.id_categoria}}) {{categoria.nombre}}</option>
    </select>
  </div>-->
  <div id="btns_carrito">
    <button (click)="procederPago()" type="submit" id="btn_addCarrito" class="btn btn-success m-4">
      <i class="bi bi-plus" > Pagar</i>
    </button>
  </div>
</div>      