<app-navbar [isLogged]="isLogged"></app-navbar>
<section class="food_section layout_padding-bottom" id="section_food">
    <div class="heading_container heading_center text-white" style="margin-top: 80px;">
        <h2>
          Su Carrito tiene...
        </h2>
    </div>
    <div class="container" style="margin-top: 50px;">
      <div  class="row">
        <div  class="col-md-12">
          <div class="box">
            <div>
              <div class="img-box text-black">
                <form>
                  <div class="form-group row">
                    <h4 for="staticEmail" class="col-sm-6 ">Métodos de pago</h4>
                    <div class="col-sm-6">
                      <select class="form-select" (change)="selectMetodo($event)"  >
                        <option value = '' selected>Método de pago</option>
                        <option *ngFor="let metodo of metodos" [attr.value]="metodo.name">{{metodo.name}}</option>
                      </select>  
                    </div>                    
                  </div>
                </form>
              </div>
              <div class="detail-box">
                <h5>
                  Subtotal: ${{subtotal}}
                </h5>
                <p>
                  
                </p>
                <div class="options">
                  <h6>
                    Total: ${{subtotal}}
                  </h6>
                  <button class="btn btn-outline-success me-2" (click)="pagar(subtotal)">
                    <i class="bi bi-wallet"></i>
                    Pagar
                  </button>
                  <div class="form-check">
                    <input type="checkbox"  class="form-check-input" [(ngModel)]="check">
                    <label class="form-check-label" for="exampleCheck1">Facturar</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let producto of carrito.productos | slice:0:8;" class="col-md-4">
          <div class="box">
            <div>
              <div class="img-box">
                <img src={{producto.imagen}} alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {{producto.nombre}}
                </h5>
                <p>
                  {{producto.descripcion}}
                </p>
                <div class="options">
                  <h6>
                    ${{producto.costo}}
                  </h6>
                  <button class="btn btn-outline-danger me-2" (click)="deleteProducto(producto)">
                    <i class="bi-trash-fill"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </section>
 