<body class="sb-nav-fixed">
    <app-navbar-admin></app-navbar-admin>

    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45" style="margin-top: 25px;">
        <h2>
          Metodos de Pago
        </h2>
      </div>
    </div>

    <div class="row">
        <div class="heading_container heading_center psudo_white_primary mb_45"  style="margin-top: 25px;">
            <h5>Add Payment Method</h5>
            <form action="" method="POST">
                <div class="input-group" style="margin-top: 10px;">
                    <input required type="text" class="form-control" id="nombre" [(ngModel)]='nuevo_mPago.name' name="name" placeholder="Name">
                    <input required type="text" class="form-control" id="imagen" [(ngModel)]='nuevo_mPago.imagen' name="image" placeholder="Image"   style="margin-left: 25px;">
                </div>
                <div id="btns_cupon">
                  <button (click)="addmPago()" type="submit" id="btn_add" class="btn btn-success m-4" >
                    <i class="bi bi-plus" > Add Payment Method</i>
                  </button>
                  <button (click)="updatemPago(nuevo_mPago)" type="submit" id="btn_update" class="btn btn-success m-4" >
                    <i class="bi bi-plus" > Update Payment Method</i>
                  </button>
                  <button  (click)="actualizamPagos()" type="submit" id="btn_cancel" class="btn btn-danger m-4" >
                    <i class="bi bi-plus" > Cancel</i>
                  </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-12" style="margin-top: 40px;">
        <div class="container">
          <table class="table table-hover" id="tbl_categorias">
            <thead>
              <tr style="text-align: center;">
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody style="text-align: center;" *ngFor="let mPago of mPagos_disponibles">
                <script>$(".table").DataTable();</script>
              <tr class="table-active" >
                <th scope="row">{{mPago.id_mPago}}</th>
                <td>{{mPago.name}}</td>
                <td>
                    <div class="img-box">
                        <img src={{mPago.imagen}} alt={{mPago.name}} width="25%">
                      </div>
                </td>
                <td>
                    <button class="btn btn-outline-success me-2" (click)="selectmPago(mPago)">
                        <i class="bi-pencil"></i>
                  </button>
                </td>
                <td>
                    <button class="btn btn-outline-danger me-2" (click)="deletemPago(mPago)">
                        <i class="bi-trash-fill"></i>
                      </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</body>