        <!-- food section -->
           
        <section class="food_section layout_padding-bottom" id="section_food">
            <div class="container">
              <div class="heading_container heading_center">
                <h2>
                  Our Menu
                </h2>
              </div>
        
              <ul class="filters_menu">
                <button class="btn btn-outline-secondary m-4 col-md-2" (click)="selectCategoria('')">Todas</button>
                <button class="btn btn-outline-secondary m-4 col-md-2" (click)="selectCategoria(categoria.id_categoria)" *ngFor="let categoria of categorias">{{categoria.nombre}}</button>
              </ul>
                  <div  class="row">
                    <div *ngFor="let producto of productos | slice:0:8;" class="col-md-4">
                      <div class="box">
                        <div>
                          <div class="img-box">
                            <img src={{producto.imagen}} alt="">
                          </div>
                          <div class="detail-box">
                            <h5>
                              {{producto.nombre}}
                            </h5>
                            <p>
                              {{producto.descripcion}}
                            </p>
                            <div class="options">
                              <h6>
                                ${{producto.costo}}
                              </h6>
                              <a (click)="addCarrito(producto)">
                                <i class="bi bi-cart-plus"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              <div class="btn-box">
                <a href="">
                  View More
                </a>
              </div>
            </div>
          </section>
        
          <!-- end food section -->
        