<body class="sb-nav-fixed">
    <app-navbar-admin></app-navbar-admin>

    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45" style="margin-top: 25px;">
        <h2>
          Productos
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="heading_container heading_center psudo_white_primary mb_45"  style="margin-top: 25px;">
          <h5>Add Product</h5>
          <form action="" method="POST">
              <div class="input-group" style="margin-top: 10px;">
                  <input type="text" class="form-control" id="name" [(ngModel)]='nuevo_producto.nombre' name="name" placeholder="Name" style="margin-left: 15px;">
                  <input type="text" class="form-control" id="description" [(ngModel)]='nuevo_producto.descripcion' name="description" placeholder="Description" style="margin-left: 15px;">
                  <input type="number" class="form-control" id="stock" name="stock" placeholder="Stock" style="margin-left: 15px;">
                  <input type="number" class="form-control" id="purchase-price" name="purchase-price" placeholder="Purchase-Price" style="margin-left: 15px;">
                </div>
              <div class="input-group" style="margin-top: 10px;">
                  <input type="number" class="form-control" id="sale-price" name="sale-price" placeholder="Sale-Price" style="margin-left: 15px;">
                  <select id="categoria"  class="form form-select" (change)="selectCategoria('nada')">
                      <option *ngFor="let categoria of categorias" value={{categoria.id_categoria}}>{{categoria.nombre}}</option>
                  </select>
              </div>
              <div id="btns_categoria">
                <button  type="submit" (click)="addProducto(nuevo_producto)" id="btn_add" class="btn btn-success m-4" >
                  <i class="bi bi-plus" > Add category</i>
                </button>
                <button  type="submit" id="btn_update" class="btn btn-success m-4" >
                  <i class="bi bi-plus" > Update category</i>
                </button>
                <button  type="submit" (click)="actualizaProductos()" id="btn_cancel" class="btn btn-danger m-4" >
                  <i class="bi bi-plus" > Cancel</i>
                </button>
              </div>
          </form>
      </div>
  </div>

    <div class="col-md-12" style="margin-top: 40px;">
      <div class="container">
        <table class="table table-hover">
          <thead>
            <tr style="text-align: center;">
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Image</th>
              <th scope="col">Category</th>
              <th scope="col">Sale-Price</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody style="text-align: center;">
            <tr class="table-active" *ngFor="let producto of productos_disponibles">
              <th scope="row">{{producto.id_producto}}</th>
              <td>{{producto.nombre}}</td>
              <td>{{producto.descripcion}}</td>
              <td>{{producto.imagen}}</td>
              <td>{{producto.id_categoria}}</td>
              <td>{{producto.costo}}</td>
              <td>
                <button class="btn btn-outline-success me-2">
                  <i class="bi-pencil"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-outline-danger me-2">
                  <i class="bi-trash-fill"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</body>