<body class="sb-nav-fixed">
    <app-navbar-admin></app-navbar-admin>
    
    <div id="layoutSidenav">
    
    <div class="row">
        <div class="col-xl-6">
            <div class="card-mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area mr-1"></i>
                    Weekly Analysis
                </div>
                <div class="card-body">
                    <img src="assets/images/Barchart.png" width="100%" height="280">
                    <!--<canvas id="line-chart" width="800" height="450"></canvas>-->
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card-mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area mr-1"></i>
                    Monthly Report
                </div>
                <div class="card-body">
                    <img src="assets/images/Areachart.png" width="100%" height="280">
                    <!--<canvas id="doughnut-chart" width="800" height="450"></canvas>-->
                </div>
            </div>
        </div>
    </div>
            <div class="card-mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area mr-1"></i>
                    Employee Data
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-boardered" id="datatable" width="100%" cellspacing="0">
                            <thead style="text-align: center;">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Residence</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Date of admission</th>
                                    <th scope="col">Position</th>
                                    <th scope="col">Salary</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;" *ngFor="let empleado of empleados_disponibles">
                                <script>$(".table").DataTable();</script>
                              <tr class="table-active" >
                                <th scope="row">{{empleado.id_empleado}}</th>
                                <td>{{empleado.name}}</td>
                                <td>{{empleado.gender}}</td>
                                <td>{{empleado.age}}</td>
                                <td>{{empleado.phone}}</td>
                                <td>{{empleado.residence}}</td>
                                <td>{{empleado.email}}</td>
                                <td>{{empleado.date_of_admission}}</td>
                                <td>{{empleado.position}}</td>
                                <td>${{empleado.salary}}</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    
            </div>
        </div>
    <app-footer-admin></app-footer-admin>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/js/line-chart.js"></script>
    <script src="src/assets/js/doughnut-chart.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="src/assets/js/datatables-demo.js"></script>
    
    
    </body>