<app-navbar></app-navbar>      
        <!-- sign up section -->
        <section class="book_section layout_padding" id="section_book">
            <div class="container">
              <div class="heading_container">
                <h1>
                  Sing Up
                </h1>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form_container">
                    <form action="">
                      <!--<div>
                        <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="usuario.firstname"/>
                      </div>
                      <div>
                        <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="usuario.lastname"/>
                      </div>
                      <div>
                        <input type="text" class="form-control" placeholder="Age" [(ngModel)]="usuario.age"/>
                      </div>
                      <div>
                        <input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="usuario.phone"/>
                      </div>
                      <div>
                        <input type="email" class="form-control" placeholder="Your Email" [(ngModel)]="usuario.email"/>
                      </div> 
                      <div>
                        <input type="password" class="form-control" placeholder="Your Password" [(ngModel)]="usuario.password"/>
                      </div> 
                      <div>
                        <select class="form-control nice-select wide">
                          <option value="" disabled selected>
                            How many persons?
                          </option>
                          <option value="">
                            2
                          </option>
                          <option value="">
                            3
                          </option>
                          <option value="">
                            4
                          </option>
                          <option value="">
                            5
                          </option>
                        </select>
                      </div>
                      <div class="btn_box" (click)="Register()">
                        <button class="col-md-12">
                          Sign Up
                        </button>
                        <br>
                      </div>-->
                      <button class="col-md-6" (click)="IngresarWithGoogle()">
                          Sign Up With Google
                        </button>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="map_container ">
                    <div id="googleMap"></div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- end sign up section -->
<app-footer></app-footer>