
<div class="" id="section_main" >
  <div class="bg-box">
    <img src="assets/images/hero-bg.jpg" alt="Background image">
  </div>
  <!-- header section strats -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container fixed-top bg-dark">
        <a class="navbar-brand" href="index.html">
          <span>
            Feane
          </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  mx-auto ">
            <li class="nav-item active">
              <a class="nav-link" href="#section_main">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section_food">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section_about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section_book">Book Table</a>
            </li>
          </ul>
          <div class="user_option">
            <a href="" class="user_link">
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <a href="/carrito" class="carrito_link">
              <i class="bi bi-cart"></i>
            </a>
            <form class="form-inline">
              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
            <a href="/sign_up" class="order_online">
              Sign Up
            </a>
            <a href="/login" class="order_online">
              Login
            </a>
            <a href="/" (click)="singOut()" class="order_online">
              Log Out
            </a>
            <a href="/admin" class="order_online">
              Admin
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->
</div>

 

